/*流程图顶层样式类*/
.jhworkflow{background:#F5F5F5;border:#00B4E1 1px solid;color:#333;border-radius:6px;font-size:14px;-moz-user-select:none;
    -webkit-user-select:none;overflow: hidden;position: relative;z-index: 0;}
.jhworkflow .rs_ghost_node{position:absolute;display:none;overflow:hidden;border:#8EA4C1 1px dashed; background:rgba(0,0,0,0.1);opacity: 0.6;z-index:10}
.jhworkflow .rs_ghost_group{position:absolute;display:none;overflow:hidden;border:#8EA4C1 1px dashed; background:#D9E8FB;opacity: 0.6;z-index:10}
.jhworkflow .textmask{position:absolute;border:#3892D3 1px solid;display:none;font: 1em Microsoft Yahei;overflow-y:visible;width:100px;z-index:10001}

.jhworkflow .lineLabel{z-index: 3;line-height: 20px;min-height: 8px;max-width:240px;white-space: normal;word-break: break-all;}
.jhworkflow .lineLabel.jsplumb-hover{z-index: 6 !important;background: rgba(0,0,0,0.8) !important;color:#fff !important;}
.jhworkflow .jsplumb-connector.jsplumb-hover{z-index: 5;}
.jhworkflow .dot-point{z-index: 1;}
.jhworkflow .dot-point-hover{z-index: 7;}

.jhworkflow .sizeable{}
.jhworkflow .sizeable .rs_right{overflow:hidden;position:absolute;right:-1px;top:-1px;height:100%;width:6px;cursor:w-resize}
.jhworkflow .sizeable .rs_bottom{overflow:hidden;position:absolute;left:-1px;bottom:-1px;width:100%;height:6px;cursor:n-resize}
.jhworkflow .sizeable .rs_rb{position:absolute;right:-1px;bottom:-1px;width:9px;height:9px;overflow:hidden;cursor:nw-resize;
    background:url(../images/workflow_tip.png) no-repeat 0px -8px;}
.jhworkflow .sizeable .rs_close{position:absolute;right:1px;top:1px;width:7px;height:7px;overflow:hidden;cursor:pointer;
    background:url(../images/workflow_tip.png) no-repeat 0px 0px}


/*上方工具栏样式*/
.jhworkflow .flow_header{clear:both;height:32px;line-height:32px;border-bottom:#00B4E1 1px solid;overflow: hidden;display: block;
    position: absolute;top: 0;left:0;width: 100.2%;}
.jhworkflow .flow_header .flowtitle{font-weight:bold;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:32px;
    line-height:32px;width:100%;text-align:right;padding-left:10px;background:#00B4E1;color:#fff;border-radius:3px 0px 0px 0px;overflow:hidden;
    margin:-1px 4px 0px -1px;padding-right:15px;font-size:16px;}

.jhworkflow .flow_header .controlbox{position: absolute;top:0;left:0;display: block;background: #FFF;padding:0 6px;height: 100%;}
.jhworkflow .flow_header .controlbox .toolbtn{display:block;border:0px;height:24px;width:24px;padding:3px;
    margin:3px 1px 0 1px;float:left;outline:none;text-align:center;}
.jhworkflow .flow_header .controlbox .toolbtn i{display:block;overflow:hidden;width:18px;height:18px;border:0px;
    background-image: url(../images/workflow_icon.png);background-repeat: no-repeat;}
.jhworkflow .flow_header .controlbox .toolbtn.disabled{cursor: not-allowed;-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}
.jhworkflow .flow_header .controlbox .toolbtn:hover{border-radius:2px;background:#FFBF00}
.jhworkflow .flow_header .controlbox .toolbtn:hover i{}
.jhworkflow .flow_header .controlbox .toolbtn.disabled{opacity: 0.5;}

/*左栏工具栏*/
.jhworkflow .tools_panel{overflow:hidden;border-right:#ccc 1px solid;position: absolute;top:32px;left:0;display: block;overflow: hidden;
    z-index: 1;background: #fff;width:28px;}
.jhworkflow .tools_panel .controlbox{overflow:hidden;border-radius:2px;width:28px;}
.jhworkflow .tools_panel .controlbox span{height:0px;overflow:hidden;border-top:#ccc 1px solid;margin:3px 1px;clear:both;display:block;}
.jhworkflow .tools_panel .controlbox .toolbtn{display:block;border:0px;height:24px;width:24px;cursor:default;padding:2px;margin:3px 1px;outline:none;}
.jhworkflow .tools_panel .controlbox .toolbtn i{display:block;overflow:hidden;width:18px;height:18px;border:0px;margin: 0 auto;margin-top:1px;
    background-image: url(../images/workflow_icon.png);background-repeat: no-repeat;}
.jhworkflow .tools_panel .controlbox .toolbtn:hover{border-radius:3px;background:#99B1CE;}
.jhworkflow .tools_panel .controlbox .toolbtn:hover i{border-radius:2px}
.jhworkflow .tools_panel .controlbox .toolbtn.down{border-radius:3px;background:#FFBF00;}
.jhworkflow .tools_panel .controlbox .toolbtn.down i{}

/*画图区*/
.jhworkflow .work_panel{border:#F5F5F5 1px solid;position:absolute;left: 28px;top: 32px;background-image:url(../images/workflow_blank.gif);}
.jhworkflow .work_panel.scrollbar{overflow:scroll;}

.jhworkflow .work_panel .workarea{position:relative;overflow:hidden;z-index: 2;}

.jhworkflow .work_panel .workarea .node_item{position:absolute;border:#27a solid 1px;border-radius:3px;display: table;transition: none;-webkit-transition:none;
    box-shadow:0px 0px 3px 1px rgba(0,0,0,0.3);overflow: hidden;z-index: 4;max-width: 600px;max-height: 600px;text-shadow:none;}
.jhworkflow .work_panel .workarea .node_item .glyphicon{cursor: pointer;top: 0;bottom:0;left: 5px;position: absolute;margin: auto;z-index:2;
    width:18px;height:18px;background-image:url(../images/workflow_icon.png);background-repeat: no-repeat;}
.jhworkflow .work_panel .workarea .node_item .nodebody{cursor: move;display: table-cell;position: relative;white-space: normal;word-break: break-all;
    text-align: left;padding-left: 22px;font-size:14px;vertical-align: middle;}
.jhworkflow .work_panel .workarea .node_item .texteditor{position: absolute;height: 22px;line-height: 22px;z-index: 1;top: 1px;left:28px;color:#000;}

.jhworkflow .work_panel .workarea .node_item.item_mark{border:#00a 1px solid;box-shadow: 0 0 6px 1px #00a;color:#00a;}
.jhworkflow .work_panel .workarea .node_item.item_mark:after{content:"\5DF2\6807\8BB0";position: absolute;top:1px;right: 1px;z-index: 2;color: #fff;
    font-weight: normal;background: rgba(255,0,0,0.5);padding: 3px 5px;}
.jhworkflow .work_panel .workarea .node_item.item_finish{border:#f00 1px solid;box-shadow: 0 0 6px 1px #f00;color:#933;}
.jhworkflow .work_panel .workarea .node_item.item_finish:after{content:"\5DF2\5B8C\6210";position: absolute;top:1px;right: 1px;z-index: 2;color: #fff;
    font-weight: normal;background: rgba(255,0,0,0.5);padding: 3px 5px;}
.jhworkflow .work_panel .workarea .node_item.item_doing{border:#080 1px solid;box-shadow: 0 0 6px 1px #080;color:#080;font-weight:700;}
.jhworkflow .work_panel .workarea .node_item.item_doing:after{content:"\8FDB\884C\4E2D";position: absolute;top:1px;right: 1px;z-index: 2;color: #fff;
    font-weight: normal;background: rgba(0,100,0,0.5);padding: 3px 5px;}
.jhworkflow .work_panel .workarea .node_item.item_selected{border:#000 1px solid;box-shadow: 0 0 6px 1px rgba(0,0,0,1);}

.jhworkflow .work_panel .workgroup{cursor:default;position:absolute;overflow:hidden;top:0px;left:0px;z-index: 100;}
.jhworkflow .work_panel .workgroup.lock{z-index: 0}
.jhworkflow .work_panel .workgroup .group_item{cursor:move;position:absolute;overflow:hidden;border-radius: 3px;}
.jhworkflow .work_panel .workgroup .group_item .lock{cursor:default;}
.jhworkflow .work_panel .workgroup .group_item label{cursor:text;top:1px;left:1px;position:absolute;display:block;font-size:14px; padding:0;
    text-indent:20px;height:18px;line-height:18px;background-image: url(../images/workflow_bullet.png);background-repeat: no-repeat;}
.jhworkflow .work_panel .workgroup .group_item i{display:block;height:18px;width:18px;top:0px;left:0px;position:absolute;cursor:pointer}
.jhworkflow .work_panel .workgroup .group_item .texteditor{position: absolute;height: 22px;line-height: 22px;z-index: 1;top: 0;left:20px;color:#000;}
.jhworkflow .work_panel .workgroup .group_item.lock{cursor:default;}
.jhworkflow .work_panel .workgroup .group_item.lock label{cursor:default;}
.jhworkflow .work_panel .workgroup .group_item.lock i{cursor:default;}
/*分组样式*/
.jhworkflow .work_panel .workgroup .group_item.area_red{border:1px solid rgba(255,120,101,0.6);background-color:rgba(255,120,101,0.3)}
.jhworkflow .work_panel .workgroup .group_item.area_red label{color:red;background-position: 1px 1px}
.jhworkflow .work_panel .workgroup .group_item.area_yellow{border:1px solid rgba(255,213,100,0.6);background-color:rgba(255,213,100,0.3)}
.jhworkflow .work_panel .workgroup .group_item.area_yellow label{color:#cc6802;background-position: 1px -16px}
.jhworkflow .work_panel .workgroup .group_item.area_blue{border:1px solid rgba(84,156,222,0.6);background-color:rgba(84,156,222,0.3)}
.jhworkflow .work_panel .workgroup .group_item.area_blue label{color:#347BB1;background-position: 1px -33px}
.jhworkflow .work_panel .workgroup .group_item.area_green{border:1px solid rgba(132,202,4,0.6);background-color:rgba(132,202,4,0.3)}
.jhworkflow .work_panel .workgroup .group_item.area_green label{color:green;background-position: 1px -50px}

/*基本图标*/
.jhworkflow .glyphicon_open i{background-position: -19px 1px;}
.jhworkflow .glyphicon_new i{background-position: 2px 1px;}
.jhworkflow .glyphicon_reload i{background-position: -97px 1px;}
.jhworkflow .glyphicon_save i{background-position: -39px 1px;}
.jhworkflow .glyphicon_save.disabled i{background-position: -178px 1px;}
.jhworkflow .glyphicon_undo i{background-position: -58px 1px;}
.jhworkflow .glyphicon_undo.disabled i{background-position: -97px 1px;}
.jhworkflow .glyphicon_redo i{background-position: -78px 1px;}
.jhworkflow .glyphicon_redo.disabled i{background-position: -116px 1px;}
.jhworkflow .glyphicon__split_{width: 0 !important;height: 100%;border-left: 1px solid #ccc !important;padding: 0 !important;
    overflow: hidden;margin: 3px 5px !important;}
.jhworkflow .glyphicon__split_ i{background:none !important;}
.jhworkflow .glyphicon_align_top i{background-position: 1px -64px;}
.jhworkflow .glyphicon_align_right i{background-position: -19px -64px;}
.jhworkflow .glyphicon_align_bottom i{background-position: -40px -64px;}
.jhworkflow .glyphicon_align_left i{background-position: -65px -64px;}
.jhworkflow .glyphicon_horizontal_center i{background-position: -89px -64px;}
.jhworkflow .glyphicon_vertical_center i{background-position: -111px -64px;}
.jhworkflow .glyphicon_leftrightclose i{background-position: -137px -64px;}
.jhworkflow .glyphicon_topbottomclose i{background-position: -163px -64px;}
.jhworkflow .glyphicon_samewidth i{background-position: -189px -64px;}
.jhworkflow .glyphicon_sameheight i{background-position: -214px -64px;}
.jhworkflow .glyphicon_horizontal_samespace i{background-position: -65px -22px;}
.jhworkflow .glyphicon_vertical_samespace i{background-position: -89px -22px;}

.jhworkflow .glyphicon_cursor i{background-position: 2px -20px;}
.jhworkflow .glyphicon_group i{background-position: -43px -22px;}

/*可自定义的图标*/
.jhworkflow .glyphicon_start{background-position: 2px -42px;}
.jhworkflow .glyphicon_end{background-position: -18px -42px;}
.jhworkflow .glyphicon_node{background-position: -64px -43px;}


/*可自定义的节点样式*/
.jhworkflow .work_panel .workarea .node_item.itemtype_start{font-weight: 700;color:#FFF;}
.jhworkflow .work_panel .workarea .node_item.itemtype_end{font-weight: 700;color:#FFF;}
.jhworkflow .work_panel .workarea .node_item.itemtype_node{}
